.result-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #b3e2f7, hsl(192, 14%, 93%), #2c5364);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  color: #190202;
  box-sizing: border-box;
}

.result-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.result-content {
  background: rgba(180, 108, 108, 0.55);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(250px);

  border-radius: 16px;
  padding: 30px;
  display: flex;
  gap: 30px;
  max-width: 900px;
  width: 70%;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
}


.image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  background-color: #190202;
  max-width: 100%;
  max-height: 320px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.analysis-box {

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
  font-size: 14px;
}

.row span:first-child {
  width: 70px;
}

.row span:last-child {
  width: 40px;
  text-align: right;
}

.bar {
  flex: 1;
  height: 10px;
  background: rgba(14, 13, 13, 0.15);
  border-radius: 8px;
  overflow: hidden;
}

.bar div {
  height: 100%;
  background: linear-gradient(90deg, #0e647c, #031c3b);
  border-radius: 8px;
  transition: width 0.8s ease;
}

.analysis-box h2 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.retry-btn {
  margin-top: 25px;
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  background: linear-gradient(135deg, #ff512f, #dd2476);
  color: #ffffff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.retry-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.retry-btn:active {
  transform: translateY(0);
}
